<!DOCTYPE html>
<html>
	<head>
		<title>Webix Node JS (Express) - samples</title>
		<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="/assets/styles.css">

		<script type="text/javascript" src="//cdn.webix.com/edge/webix.js"></script>
		<link rel="stylesheet" type="text/css" href="//cdn.webix.com/edge/webix.css">
	</head>
	<body>
		<h1 class='header'>
			<a href="/">
			<div class="webix-logo"></div>
			NodeJs (Express) Samples
			<a class='docs' href='https://docs.webix.com/desktop__basic_tasks.html'>Go to docs</span>
			</a>
		</h1>
		<div class='mainarea'>
			<ul class='left'>
{{#each menu}}
<li><span>{{value}}</span><ul>
	{{#each data}}
	<li class='{{css}}'><a href='{{href}}'>{{value}}</a></li>
	{{/each}}
</ul></li>
{{/each}}
			</ul>
			<content class="right">{{{body}}}</content>
		</div>
	</body>
</html>